<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="{% url 'success'%}" method="POST">
{% csrf_token %}
{% for field in form.visible_fields %}
	<div class="col-md-4">
		<div>
			<label class="my-label"> {{field.label}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="input-group">
            {{field}}
		</div>
	</div>
    <div class="col-md-4">
        <div>
            <label>{{field.errors}}</label>
        </div>
    </div>
	<div class="divider"> </div>
{% endfor %}
		<button type="submit" class="btn btn-lg btn-success btn-register">Authorise!</button>
</form>

</body>
</html>